.button {
  width: 16.25rem;
  height: 4rem;
  color: var(--gray-900);
  background: var(--yellow-500);
  font-size: 1.25rem;
  border-radius: 4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}